# Ignore environment files
.env
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# build files
packaging/out/
build/
dist/
SDK/
frynetworks_installer/build/
frynetworks_installer/dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
# Logs
*.log
logs/
*.spec
